<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/TICK_IT_TEST?serverTimezone=Asia/Taipei</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>					<!-- 驗證資料庫資料表結構,嚴謹的,要加一開始就要加 -->
		<property name="hibernate.current_session_context_class">thread</property>	<!-- 產生session -->
		<!-- <property name="hibernate.format_sql">true</property> slq指令整齊排列 -->

	</session-factory>
</hibernate-configuration>
