@charset "UTF-8";
* {
    box-sizing: border-box;
    font-size: 17px;
}
/*===div===*/
@media (min-width:1200px) {
    .my_size {
        width: 970px;
    }
}

div#my_head {
    margin-top: 100px;
}

div.stepTop {
    /* display: inline-block; */
    /* vertical-align: top; */
    /* border: 1px solid orange; */
    /* height: 50px; */
    margin-bottom: 20px;
    margin-left:30px;
    /* width: 100%; */
    vertical-align: middle;

}

div.stepTop div {
    /* display: inline-block; */
    /* vertical-align: top; */
    background-color: #d9edf7;
    border-radius: 10px;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

@media (max-width:992px) {
	div.stepTop {
		margin-left:-15px;
	}
}

/* ======form elements=======*/
div.stepTop .step {
    background-color: #337ab7;
    color: white;
}

button.row1btn {
    margin-top: 5px;
    margin-left: 10px;
    background: #415A77;
    color:white;
}

button.row3btn {
    margin-top: 20px;
    background: #415A77;
    color:white;
    margin-bottom:30px;
}

.seatIcon {
    width: 20px;
}

.tabdiv table {
    margin: 20px auto;

}

/* .tabdiv {
    border: 1px solid orangered;
} */