* {
    box-sizing: border-box;
    font-size: 17px;
}

/*==== time ====*/
.xdsoft_datetimepicker .xdsoft_datepicker {
    width: 300px;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box {
    height: 151px;
}

/*===div===*/
div.my_size{
/* 	border:1px solid red; */
	margin: 0 auto;
	
}
@media (min-width:1200px) {
    .my_size {
        width: 970px;
    }
}

div#my_head {
    margin-top: 100px;
}

div.my_cont {
/*     background-color: #c6ccd0; */
    border-radius: 10px;
}

div.stepTop {
/*     border: 1px solid orange; */
    margin-bottom: 20px;
	margin-left:30px;
}

div.stepTop div {
    background-color: #d9edf7;
    border-radius: 10px;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

@media (max-width:992px) {
	div.stepTop {
		margin-left:-15px;
	}
}

.row1 div {
/*     margin-left: 10px; */
    margin-top: 10px;
    margin-right: 60px;
    margin-bottom: 10px;
}

.row2 div {
    margin-bottom: 10px;
}

.row3 div {
    margin-bottom: 10px;
}

.row4 div {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-bottom: 10px;
}

/* ====ticket class===*/
div.task_list_parent ul.task_list {
    list-style: none;
    padding-left: 0px;
}

div.task_list_parent ul.task_list>li {
    margin-bottom: 5px;
    vertical-align: middle;
}

div.task_list_parent ul.task_list>li>div.item_flex {
/*     border: 1px solid black; */
    background-color: #F5F3ED;
    vertical-align: middle;
    border-radius: 3px;
}

div.task_list_parent ul.task_list>li>div.item_flex>div.left_block {
    flex-shrink: 0;
    /* border: 1px solid black; */
    align-items: center;
}

div.left_block {
    /* padding: 0px; */
    width: 100px;
/*     border:1px solid green; */
}

div.task_list_parent ul.task_list>li>div.item_flex>div.middle_block {
    font-size: 17px;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

div.middle_block {
/*     border: 1px solid palevioletred; */
    width: 720px;
    margin-left: 10px;
}

@media (max-width:1154px){
	div.middle_block {
		width:auto;
	}
}

div.middle_block div {
    display: inline-block;
    margin-right: 10px;
/*     border: 1px solid blue; */
}

@media (max-width:700px) {
    div.middle_block div {
        display: block;
/*         border: 1px solid blue; */
        width: auto;
    }

    div.middle_block {
/*     	border:1px solid #8000ff; */
        display: block;
        width: auto;
    }
}

div.right_block {
/* 	border:1px solid green; */
    float: right;
    width: 110px;
}

@media (max-width:1182px) {
    div.right_block {
        float: left;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

span.star {
    margin: 3px 4px;
}

div.item_flex p {
    display: inline-block;
    vertical-align: top;
}

div.line1 p {
    margin-top: 9px;
    margin-bottom: 10px;
}

div.line2 p {
    margin-top: 10px;
}

div.btn_flex>button {
    flex-grow: 1;
    outline: none;
    height: 40px;
    font-size: 17px;
    margin-top: 20px;
    background: none;
    background-color: white;
    border: 0;
    cursor: pointer;
    border: 1px solid #eee;
    border-radius: 10px;
}

/* =====button==== */
.my_button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 7px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    width: 100px;
}

.my_button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.my_button:active {
    position: relative;
    top: 1px;
}

.myButton input[type="button"] {
    background: #415A77;
    color: #FFF;
    font-size: 17px;
    font-weight: 400;
    padding: 8px 7px;
    width: 30%;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 0px 7px 0px 3px;
    outline: none;
    border: none;
}

/* 指標移到Button時的變色 */
.myButton input[type="button"]:hover {
    background: #818181;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

/* 往右靠齊 (可要可不要，提供參考而已) */
.myButton {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 30px;
}

/* Button大小設定 */
.myButton input[type="button"] {
    /* 字體大小 */
    font-size: 14px;
    /* Button寬度 */
    /* 根據需求可設定 100.150.180 */
    width: 100px;
    /* 內間距 */
    padding: 5px 7px;
}

/* ======form elements=======*/
div.stepTop .step {
    background-color: #337ab7;
    color: white;
}

div.row4 input {
    background: #6a819d;
    color: #FFF;
    outline: none;
    border: none;
    font-size: 17px;
    border-radius: 6px;
}

div.row4 input:hover {
    background: #1b263b;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.errbackground {
    background-color: #FBDBD6 !important;
}

div.bu {
    padding: 0px;
    width: 10px;
    margin-top: 3px;
    
}

@media (max-width:992px){
	div.bu {
		line-height:5px;
		margin-left:20px;
	}
	div.getbr br{
		display:none;
	}
}